In [2]:
import pandas as pd

In [4]:
from DataBaseConnector.dbconnector import DataBaseConnector
conn =  DataBaseConnector('ODOO')

In [8]:
sql = '''  select name, email, phone, is_company,
            email_normalized,
            phone_sanitized,
            create_date,
            write_date
            from res_partner '''

In [9]:
customer_df = conn.get_dataframe_from_postgres(sqlquery=sql,sqlparams=None)

In [10]:
customer_df.head()

,name,email,phone,is_company,email_normalized,phone_sanitized,create_date,write_date
0,Fabian,f.baez.calderon@gmail.com,705 9786543,False,f.baez.calderon@gmail.com,705 9786543,NaT,NaT
1,Default User Template,None,None,False,None,None,2024-10-25 03:16:03.835045,2024-10-25 03:28:50.246883
2,Israel,Israel.Harabedian@visitmail.com,(306)975-4672,True,,(306)975-4672,NaT,NaT
3,Marcello,Marcello.Frickel@x-mail.net,(474)975-5122,True,Marcello.Frickel@x-mail.net,(474)975-5122,NaT,NaT
4,Janos,Janos.Cabibbo@merda.flu.cc,(879)973-4411,True,,(879)973-4411,NaT,NaT